#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}
#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#header .title img {
  max-width: 3em;
}
#header .title h2 {
  padding-left: 0.5em;
}
#header .score {
  margin: 0;
  color: #6c90ac;
}
#header .tried {
  margin-top: 0;
}
/*宣告cards 為flex container*/
#cards{
display: flex;
/*讓flex item 換行*/
flex-wrap: wrap;
width: 85%; /* 新增：寬度和標頭一致 */
  margin: 0 auto;  /* 新增：置中 */
}

/*子元素.card 為flex item*/
.card{
  /*
  表示
  flex-basis:7% (主要寬度，用來控制item 佔的寬度 表示100%裡的7%(100/13=7.7))
  
  flex-grow:0(分配剩餘空間：設定0表示不分配剩餘空間)
  flex grow:1 表示平均
  flex grow:2 表示占用空間右邊的兩倍
  flex-shrink:1
  */
  box-sizing: border-box; /* 設定 box-sizing*/
  flex: 7% 1 1;/*每個item 分配容器寬度*/
  height: 8vw;/*依視窗的寬度等比例變化*/
  border: 2px solid #e0e0e0;
  margin: 2px; /* 卡片邊距 */
  /*用來控制數字及花色*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

}
  /*調整花色圖片*/
.card img {
  max-width: 30%;
  align-self: center;
}

 /*調整卡片數字*/
 .card p{
   margin: 3px;
   font-size: 10px;
 }

 /*.card 內部裡的最後一個 p 元素*/
 .card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}
.paired {
  background-color: #dae0e3;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}
@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}